[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin,inode/directory
MimeType=inode/directory;
Actions=abrir_concha;

[Desktop Action abrir_concha]
Name=Abrir Concha Aqui
Name[pt_BR]=Abrir Concha Aqui
Icon=utilities-terminal
Exec=/usr/local/bin/concha-wrapper %f
