[Desktop Entry]
Version=1.0
Type=Application
Name=Concha Terminal
Comment=Inicia o Concha Shell
Exec=kitty -e /usr/local/bin/concha
Icon=utilities-terminal
Terminal=false
Categories=System;TerminalEmulator;
MimeType=inode/directory;
Actions=open;

[Desktop Action open]
Name=Abrir Concha aqui
Exec=kitty --directory %f -e /usr/local/bin/concha
Icon=utilities-terminal

